@import "./variables.scss";
// input,
button {
  outline: none;
}
body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family-main;
  color: $dark-gray;
}

button {
  cursor: pointer;
}

input, textarea, select {
  padding: 4px 0 4px 12px;
}

.base-control:focus {
  box-shadow: 0 0 0 1px $second-blue;
  border-color: $second-blue;
}

