$second-blue-ref: #43689e;
$gray-ref: #ededed;
$second-blue: #5b73c1;
$black-blue: #2c3143;
$green: #52d03e;
$dark-gray: #6a757e;
$dark-gray-light: #878892;
$dark-light-gray: #dae1e7;
$gray: #f7f8f9;
$dark-green: #0ca52f;
$size-radius-form-controls: 3px;
$size-radius: 6px;
$size-radius-buttons: 6px;
$size-radius-card: 6px;
$padding-card-y: 15px;
$padding-card-x: 12px;
$font-family-main: "Open Sans", sans-serif;
$font-family-secondary: "Roboto", sans-serif;
$border-light: 1px solid $dark-light-gray;
$border-dark: 0.9px solid $dark-gray;
$box-shadow:  0px 0px 16px 0px rgba(17, 18, 17, 0.18);
$error-color: #e3342f;
$box-shadow-error:  0 0 0 1px  $error-color;
$border-error: 1px solid $error-color;
