$second-blue-ref: #43689e;
$gray-ref: #ededed;
$second-blue: #5b73c1;
$black-blue: #2c3143;
$green: #52d03e;
$dark-gray: #6a757e;
$gray: #f7f8f9;
$dark-green: #0ca52f;
$size-radius: 6px;
$size-radius-buttons: 6px;
$size-radius-card: 3px;
$dark-light-gray: #dae1e7;
// $ttt2 : #878892;
$padding-card-y: 15px;
$padding-card-x: 12px;
$font-family-main: "Open Sans", sans-serif;
$font-family-secondary: "Roboto", sans-serif;
$border-light: 1px solid $gray;
$border-dark: 0.9px solid $dark-gray;
$box-shadow: 0 0 5px 3px $gray-ref, 0 0 5px 10px $gray;
$breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);